<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/adminpanel.css">
</head>
<body>
    <h2>name</h2>
    <div class="panel">
        <div class="form-group">
            <a href="/adminpanel">admin panel</a>
        </div>
        <div class="form-group">
            
            <a href="/adminname">name</a>
        </div>
        <div class="form-group">
            
            <a href="/adminphone">phone</a>
        </div>
        <div class="form-group">
            
            <a href="/adminemail">email</a>
        </div>
    </div>

    <div>
        <h1>User name</h1>
        <table>
            <tr>
                <th>Name</th>
            </tr>
            <% userDataname.forEach(function(user) { %>
                <tr>
                    <td><%= user.name %></td>
                </tr>
            <% }); %>
        </table>
    </div>

    <div>
        <form action="/generateReceiptname" method="POST">
            <button type="submit">Print name Receipt</button>
        </form>
    </div>
</body>
</html>