<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/adminpanel.css">
</head>
<body>
    <h2>admin panel</h2>
    <br>
    <form action="/logout" method="GET">
        <button type="submit">Logout</button>
    </form>
    <br>
    <div class="panel">
        <div class="form-group">
            <a href="/adminpanel">admin panel</a>
        </div>
        <div class="form-group">
            
            <a href="/adminname">name</a>
        </div>
        <div class="form-group">
            
            <a href="/adminphone">phone</a>
        </div>
        <div class="form-group">
            
            <a href="/adminemail">email</a>
        </div>
    </div>

    <div>
        <h1>User Data</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
            <% userData.forEach(function(user) { %>
                <tr>
                    <td><%= user.name %></td>
                    <td><%= user.phone %></td>
                    <td><%= user.email %></td>
                </tr>
            <% }); %>
        </table>
    </div>
</body>
</html>